body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1abc9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81bdb1;
}

.menu-btn-atual {
  background: #1abc9c;
  color: #fff !important;
  /* padding: 0.5rem !important; */
}

.masthead {
  margin-bottom: 10em;
}

.masthead-div {
  position: absolute;
  z-index: 99;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 10rem;
}

.masthead-img {
  position: relative;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-shadow: #0f0f0f 2px 2px;
}

.header-subtitle {
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-shadow: #333 0.08rem 0.08rem;
}

.about-section {
  margin-bottom: 10em;
  
}

.about-section p {
  padding: 0em 2em;
  max-width: 50ch;
  font-size: 0.8rem;
}

.banner2-section {
  /* border: 2px dotted green; */
  margin-bottom: 10em;

}

.banner2-div {
  position: relative;
}

.banner2-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner2-div p {
  padding: 3em;
  font-size: 1rem;
  color: rgb(181, 180, 180);
}

.telemed-section {
  margin-bottom: 10em;
}

.telemed-section h2 {
  font-weight: 100;
  
}

.telemed-section p {
  text-align: left;
  padding: 3em 3em 3em 0;
  font-size: 1rem;
  max-width: 50ch;
}

.carousel-videos {
  /* border: 1px solid black; */
  max-width: 70%;
}

.videosyt {
  margin-bottom: 10em;
}

.depoimento {
  margin-bottom: 10em;
}

.depoimento-title {
  margin-bottom: 2em;
  font-weight: 100;
}

.depoimento-card {
  margin-bottom: 1.75em;
}

.card-body-img {
  max-width: 6em;
  border-radius: 40%;
  float: right;
  border: 0.2rem rgb(45, 141, 237) solid;
}

@media (min-width: 768px) {
  .masthead-div {
    padding-top: 10rem;
  }

  .header-title {
    font-size: 4rem;
  }

  .header-subtitle {
    padding-top: 1.25rem;
    font-size: 1rem;
    letter-spacing: 1rem;

  }

  .about-section p {
    font-size: 1.5rem;
  }

  .banner2-div p {
    font-size: 1.5rem;
  }

  .telemed-section {}

  .telemed-section h2 {
    font-size: 3rem;
  }

  .telemed-section p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .masthead-div {
    padding-top: 250px;
  }

  .header-banner {
    /* height: 430px; */
    /* border: 1px solid black; */
  }

  .header-title {
    font-size: 5.5rem !important;
    font-weight: 100 !important;
    border: solid 1px black;
  }

  .header-subtitle {
    letter-spacing: 1.3rem ;
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 2rem;
    border: solid 1px black;

  }

  .masthead {}

  .masthead-img {}

  .menu-btn {
    /* font-size: 0.8rem; */
  }

  .menu-btn-atual {
    background: #1abc9c;
  }

  .about-section {}

  .about-section p {
    max-width: 80ch;
    font-size: 2rem;
  }

  .banner2-div p {
    font-size: 2rem;
  }

  .telemed-section p {
    font-size: 2rem;
  }

  .telemed-section h2 {
    font-size: 4rem;
  }
}


/*Aqui comecam os estilos da pagina especialidades.html*/
#->Especialidades.index {}


