body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1abc9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81bdb1;
}

/* Navbar */

.navbar {
  border-bottom: dotted 1px rgba(0, 0, 0, 0.1);
  display: none;
}

.menu-btn-atual {
  background: #1abc9c;
  color: #fff !important;
  /* padding: 0.5rem !important; */
}


/* Masthead section */

.masthead {
  margin-bottom: 10em;
  border: solid 1px red;
  margin-top: 4.75rem;

}

.masthead-div {
  position: relative;
}

.masthead-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  text-shadow: #0f0f0f 2px 2px;
}

.header-subtitle {
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-shadow: #333 0.08rem 0.08rem;
}

.masthead-img {
}

@media (min-width: 768px) {
  .masthead-content {
    /* padding-top: 15rem; */
  }

  .header-title {
    font-size: 4rem;
  }

  .header-subtitle {
    padding-top: 1.25rem;
    font-size: 1rem;
    letter-spacing: 1rem;
  }
}

@media (min-width: 992px) {
  .masthead-content {
    /* padding-top: 250px; */
  }

  .masthead-img {
    /* padding-top: 100px; */
  }

  .header-title {
    font-size: 5.5rem !important;
    font-weight: 100 !important;
  }

  .header-subtitle {
    letter-spacing: 1.3rem;
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 2rem;

  }

  .masthead {}

  .masthead-img {}

  .menu-btn-atual {
    background: #1abc9c;
  }
}

/* About Section */

.about-section {
  margin-bottom: 10em;

}

.about-section p {
  padding: 0em 2em;
  max-width: 50ch;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .about-section p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .about-section {}

  .about-section p {
    max-width: 80ch;
    font-size: 2rem;
  }
}

/* Banner 2 Section */

.banner2-section {
  /* border: 2px dotted green; */
  margin-bottom: 10em;

}

.banner2-div {
  position: relative;
}

.banner2-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner2-div p {
  padding: 3em;
  font-size: 1rem;
  color: rgb(181, 180, 180);
}

@media (min-width: 768px) {
  .banner2-div p {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .banner2-div p {
    font-size: 2rem;
  }
}

/* Telemed Section */

.telemed-section {
  margin-bottom: 10em;
}

.telemed-section h2 {
  font-weight: 100;

}

.telemed-section h2::before {
  content: "";
  display: block;
  border-top: 0.1rem dotted black;
  width: 6rem;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.telemed-section p {
  text-align: left;
  padding: 3em 3em 3em 0;
  font-size: 1rem;
  max-width: 50ch;
}

@media (min-width: 768px) {
  .telemed-section {}

  .telemed-section h2 {
    font-size: 3rem;
  }

  .telemed-section h2::before {
    border-top: 0.15rem dotted black;
    width: 6rem;
  }

  .telemed-section p {
    font-size: 1.5rem;
  }

  .telemed-section h2::before {
    border-top: 0.12rem dotted black;
    width: 10rem;
  }
}

@media (min-width: 992px) {
  .telemed-section p {
    font-size: 2rem;
  }

  .telemed-section h2 {
    font-size: 4rem;
  }

  .telemed-section h2::before {
    border-top: 0.15rem dotted black;
    width: 15rem;
  }
}

/* Carousel Videos Youtube */

.carousel-videos {
  /* border: 1px solid black; */
  max-width: 70%;
}

.videosyt {
  margin-bottom: 10em;
}

/* Depoimentos Section */

.depoimento-section {
  margin-bottom: 10em;
}

.depoimento-title {
  margin-bottom: 2em;
  font-weight: 100;
}

.depoimento-title::before {
  content: "";
  display: block;
  border-top: 0.1rem dotted black;
  width: 6rem;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.depoimento-card {
  margin-bottom: 1.75em;
}

.depoimento-card .card-body-img {
  max-width: 6em;
  border-radius: 40%;
  float: right;
  border: 0.2rem rgb(45, 141, 237) solid;
}

@media (min-width: 768px) {
  .depoimento-title {
    font-size: 3rem;
  }

  .depoimento-title::before {
    border-top: 0.12rem dotted black;
    width: 10rem;
  }
}

@media (min-width: 992px) {
  .depoimento-title {
    font-size: 4em;
  }

  .depoimento-title::before {
    border-top: 0.15rem dotted black;
    width: 15rem;
  }

}